<html>
	<head>
		<script type="text/javascript" src="round-robin.js"></script>
	</head>

	<body>
		<h1>Round Robin Javascript</h1>

		<form action="#" onsubmit="checkInput()">
			Please enter the number of teams (2-16):		
			<input id="field_get_teams">
			<br />
			Please enter the number of rounds:
			<input id="field_get_rounds">
			<br />
			<input type="submit" value="Submit">
		</form>

		<p id="field_return_input_status"></p>
		<h4 id="return-round-robin-teams"></h4>
		<p id="return-round-robin"></p>

	</body>

</html>