.tableContainer {
    min-height: 100vh;
}

.tableLayout {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: auto;
    margin: 0 auto;
    height: auto;
    background-color: #333;
}
