.profile-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    background-color: #333;
    padding: 1.5%;
}

.playerinfo-block {
    display: block;
    padding: 2.5%;
    width: 33%;
    min-height: inherit;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: white;
}

.playerinfo-block > div > ul {
    padding: 0;
    color: white;
    float: left;
    overflow: hidden;
}

.playerinfo-block > div > ul > li {
    padding: 5%;
}


.matches-block {
    display: block;
    padding: 2.5%;
    width: 40%;
    min-height: inherit;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: white;
}

.articles-block {
    width: 27%;
    padding: 2.5%;
    display: block;
    min-height: inherit;
}

#user-profile-image {
    font-family: 'Forza Medium';
    font-size: 25px;
    display: flex;
    width: 100%;
    height: 250px;
    text-align: left;
    line-height: 450px;
    color: #73A744;
    margin: 5px;
}

#ingame-info {
    font-family: 'Forza Medium';
    font-size: 15px;
    display: block;
    width: 100%;
    height: 150px;
    text-align: left;
    color: #73A744;
    margin: 5px;
}

#ingame-text {
    width: 100%;
}

#bio-header{
    text-align: left;
}

#player-bio-block {
    font-family: 'Forza Medium';
    font-size: 15px;
    display: block;
    width: 100%;
    height: auto;
    text-align: left;
    color: #73A744;
    margin: 5px;
}


#bio {
    color: white;
    font-size: 13px;
    padding: 5px;
}

#player-stat-block {
    font-family: 'Forza Medium';
    margin: 5px;
    font-size: 15px;
    display: block;
    width: 100%;
    height: 250px;
    text-align: left;
    color: #73A744;
}

#match-banner {
    width: 100%;
    color: #73A744;
    font-size: 20px;
    font-family: 'Forza Medium';
}

#match-section {
    display: block;
    margin: 15px;
    font-family: 'Forza Medium';
    font-size: 15px;
}

#schedule-section {
    height: auto;
    width: 100%;
    color: white;
}

#date-section {
    height: auto;
    width: 100%;
    color: white;
} 

#history-section {
    height: auto;
    width: 100%;
    color: white;
}

#history-banner {
    color: #73A744;
    font-family: 'Forza Medium';
    font-size: 20px;
}

#history-block {
    font-family: 'Forza Medium';
    margin: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

#article-banner {
    width: 100%;
    color: #73A744;
    font-family: 'Forza Medium';
    font-size: 20px;
}

#article-block {
    margin: 15px;
    width: 100%;
    color: white;
    font-size: 15px;
    font-family: 'Forza Medium'
}

.settings-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 75%;
    margin: 0 auto;
    min-height: inherit;
}

#info-column {
    color: #73A744;
    font-family: 'Forza Medium';
    font-size: 20px;
    width: 100%;
    padding: 2.5%;
    min-height: inherit;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: white;
}

#settings-column {
    width: 100%;
    min-height: inherit;
    padding: 2.5%;
}

/*  AUTH VIEW STYLING */

.divider {
    width: 100%;
    height: 100px;
}

#headshot-block {
    height: auto;
    display: block;
    width: 100%;
}

#edit-banner {
    width: 100%;
    height: auto;
    color: #73A744;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #73A744;
    font-family: 'Forza Medium';
    font-size: 20px;
}

.subheader-banner {
    padding: 2.5%;
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Forza Medium';
    font-size: 18px;
}

#settings-form {
    width: 100%;
    display: block;
    height: auto;
}

#userSettings {
    margin: 2.5%;
    background-color: #555;
    border-radius: 0%;
}

.saveButton {
    background-color: #73A744;
    color: white;
    font-family: 'Forza Medium';
    margin: 2.5%;
}