.tournamentform-class {
    background-color: #333;
    height: 100vh;
    color: white;
    padding: 0% 5%;
}

.tournament-form {
    background-color: #334;
    padding: 2.5% 5%;
}

.form-header {
    background-color: #335;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    padding: 2.5% 5%;
}

.form-body {
    background-color: #336;
    padding: 2.5% 2.5%;
}

.title-container {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    float: left;
    font-weight: bold;
    font-size: 1.5em;
}

input {
    color: black;
    width: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}