.tournamentform-class {
    background-color: #333;
    height: 100vh;
    color: white;
    padding: 0% 5%;
}

.tournament-form {
    background-color: #334;
    padding: 2.5% 5%;
}

.form-header {
    background-color: #335;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    padding: 2.5% 5%;
}

.form {
    background-color: #336;
    padding: 2.5% 5%;
}