.rules-and-code-of-conduct-container {
    display: block;
    width: 90%;
    margin: 0 auto;
    background-color: #333;
    height: auto;
    overflow: auto;
    color: white;
    height: 100vh;
}

.switch-for-views {
    margin-top: .5%;
    margin-bottom: 1%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-switch-1 {
    margin-left: 2%;
}