.join-egf-container {
    background-color: pink;
}

.join-egf-form {
    height: 475px;
    width: 100%;
    background-color: lightblue;
    margin-top: -5px;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    overflow: auto;
}

.college-logo {
    background-color: blue;
    height: 60px;
    width: 33%;
    float: left;
}

.highschool-logo {
    background-color: orange;
    height: 60px;
    width: 33%;
    float: left;
}

.media-logo {
    background-color: yellow;
    height: 60px;
    width: 33%;
    float: left;
}

.join-egf-form-fields > label {
    width: 50%;
}