.join-egf-container {
    background: linear-gradient(lightslategray,lightgray);
    width: 100%;
    min-height: 100vh;
}

.join-egf-form {
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #333;
    color: white;
    font-family: 'Forza Medium';
    padding: 0 1%;
    border-style: groove;
    border-color: lightgray;
    overflow: auto;
}

.alert {
    position: relative;
    width: 100%;
}

.submitButton {
    border-radius: 15%;
    color: white;
    background-color: black;
}

.switchButton {
    color: white;
    background-color: black;
    font-family: 'Forza Medium';
    border: white;
    margin-top: 5%;
    border-radius: 15%;
}

.switchButton:hover {
    background-color: #73A744;
}

label {
    text-align: left;
    padding: 0 0 0 0;
}

.formBlock {
    width: 100%;
}

.radioBlock {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.logoBlock {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    margin: 0 0 0 0;
    width: 33%;
}

.logoBlock > div {
    margin: 0 auto;
}

.college-logo {
    height: 50px;
    width: 33%;
    float: left;
}

.highschool-logo {
    height: 60px;
    width: 33%;
    float: left;
}

.media-logo {
    height: 60px;
    width: 33%;
    float: left;
}

