.join-egf-container {
    background: linear-gradient(lightslategray,lightgray);
    width: 100%;
    height: 100%;
}

.join-egf-form {
    height: 100%;
    width: 900px;
    margin: 0 auto;
    background-color: #333;
    color: white;
    font-family: 'Forza Medium';
    margin-top: -5px;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    border-style: groove;
    border-color: lightgray;
    overflow: auto;
}

.college-logo {
    background-color: blue;
    height: 60px;
    width: 33%;
    float: left;
}

.highschool-logo {
    background-color: orange;
    height: 60px;
    width: 33%;
    float: left;
}

.media-logo {
    background-color: yellow;
    height: 60px;
    width: 33%;
    float: left;
}

.join-egf-form-fields > label {
    width: 50%;
}

