.school-profile-container {
    display: block;
    min-height: 100vh;
    width: 100%;
    margin: 2.5% none;
    background-color: #333;
    height: auto;
    color: black;
    padding: 0.5% 0.5%;
    overflow: auto;
}

.school-profile-image {
    width: 100%;
    max-width: 1500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.school-profile-content {
    width: 100%;
    height: auto;
    background-color: #333;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

.game-tabs {
    width: 100%;
    height: auto;
    background-color: #333;
    margin-top: 1%;
}

.game-tab-container {
    display: flex;
    justify-content: space-around;
}

.game-tab-name {
    width: auto;
    float: left;
    color: gray;
}

.school-profile-overview-history {
    width: 100%;
    height: auto;
    float: left;
    color: white;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
}

.school-profile-overview-history > .section-heading {
    padding-top: 0;
}

.section-heading {
    color: green;
    font-family: 'Forza Medium';
    width: 100%;
    height: auto;
    font-size: 1.5em;
    padding: 1% 1%;
    float: left;
}

.overview {
    width: 100%;
    height: fit-content;
    position: relative;
}

.overview-text {
    width: 75%;
    height: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
    border-right: 2px solid green;
}

.overview-history {
    width: 25%;
    float: left;
    right: 0;
    top: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.school-profile-details {
    width: 100%;
    height: auto;
    border: 1px solid gainsboro;
    background-color: #333;
    float: left;
}

.roster {
    width: 33.33%;
    height: auto;
    background-color: #333;
    float: left;
}

.roster-container {
    width: 100%;
    height: auto;
    padding: 1% 1%;
    float: left;
}

.player-details {
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 2px solid white;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
}

.player-image {
    height: 150px;
    width: 50%;
    min-width: 175px;
    max-width: 200px;
    background-image: url("");
    float: left;
}

.player-info {
    font-family: 'Forza Medium';
    float: left;
    width: 50%;
    position: absolute;
    right: 0;
    top: 50;
    color: white;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: 5%;
}

.schedule-and-match-history {
    width: 33.33%;
    height: auto;
    float: left;
}

.schedule {
    width: 100%;
    height: auto;
    padding: 1% 1%;
    float: left;
}

.schedule-container {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
}

.schedule-details {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

.schedule-school-and-date {
    width: 100%;
    float: left;
    height: auto;
    position: relative;
}

.schedule-school-name {
    font-family: 'Forza Medium';
    font-size: 1.25em;
}

.schedule-time {
    float: left;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.match-history {
    width: 100%;
    height: 50%;
    background-color: yellow;
    float: left
}

.news-section {
    width: 33.33%;
    height: auto;
    float: left;
}

.news {
    height: 100%;
    width: 100%;
    float: left;
    background-color: beige;
}