.main-div {
    /* display: block; */
    width: 100%;
}

/* 
    CSS for brand logos and text
*/

.brand-info-container {
    background-color: #333;
    width: 100%;
    padding: 1% 1%;
    height: auto;
    overflow: hidden;
    color: white;
}

.egf-college, .egf-highschool, .egf-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 250px;
    padding: 1% 5%;
}

.egf-logo-college, .egf-logo-highschool, .egf-logo-media {
    height: 100%;
    width: 25%;
}

.egf-logo-college > img {
    float: left;
    height: 100%;
    width: 60%;
}

.egf-logo-highschool > img {
    float: left;
    height: 100%;
    width: 60%;
}

.egf-logo-media > img {
    float: left;
    height: 100%;
    width: 60%;
}

.egf-info-college, .egf-info-highschool, .egf-info-media {
    font-family: 'Forza Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    text-align: center;
}

/* 
    CSS for articles
*/

.article-container {
    display: flex;
    font-family: 'Forza Medium';
}

.big-article {
    display: flex;
    width: 100%;
    margin-right: 20px;
    margin: 2.5%;
    height: 500px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(lightslategray,lightgray);
}

.side-articles-container {
    display: block;
    margin-left : auto;
    width:  500px;
    height: 500px;
}

#sideArticleOne {
    display: flex;
    width: 100%;
    background: linear-gradient(lightslategray, lightgray);
    margin: 2.5%;
    height: 230px;
}

#sideArticleTwo {
    display: flex;
    width: 100%;
    background: linear-gradient(lightslategray,lightgray);
    margin: 2.5%;
    height: 230px;
}




/*** Schedule Bar  ***/
.ScheduleBar{
    /* margin: auto; */
    height: 50px;
    font-family: 'Forza Medium';
    display: flex;
    width: 100%;
    flex-basis: 100%;
    background-color: #486433;
}


#scheduleDiv{
    display: flex;
    background-color: #73A744;
    align-items: center;
    justify-content: center;
    width: auto;
    border: none;
    padding: none;
}

#viewScheduleDiv{
    background-color: #73A744;
    display:flex;
    align-items: center;
    width: auto;
    justify-content: center;
    border: none;
}

#viewScheduleDiv > a{
    color: white;
    font-size: 10px;
}

.ScheduleBar > div {
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #486433;
    color: white;
    padding: 15px;
    font-family: 'Forza Medium';
    font-size: 10px;
    text-align: center;
    border-width: 0 1px 0 0 ;
    border-color: white;
    border-style: solid;
}