.footer {
  position: absolute;
  display: flex;
  color: lightgray;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-family: 'Forza Medium';
  /* Set the fixed height of the footer here */
  height: 65px;
  line-height: 65px; /* Vertically center the text there */
  background-color: #333;
  margin: auto;
  font-size: 9px;
}

#container {
    display: block;
    padding-left: 200px;
    align-self: center;
    width: 700px;
}

#linksContainer {
    width: 450px;
    height: 60px;
    display: flex;
    flex-direction: row;
    /* flex-basis:100%; */
}

#linksContainer > div {
    margin-top: 5px;
    font-family: 'Forza Medium';
    display: flex;
    z-index: 1;
    align-content: center;
    justify-content: center;
    text-align: center;
    line-height: 18px;
    width: 150px;
    height: 60px;
    border-width : 0 1px 0 0;
    border-color: white;
    border-style: solid;
}

