.college-region {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #333;
    height: auto;
    font-family: 'Forza Medium';
    font-size: 2.5em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.block-Div {
    width: 100%;
    height: auto;
    margin: 0 0;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #333;
    height: auto;
    font-family: 'Forza Medium';
    font-size: 20px;
    overflow: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.college-container {
    width: 100%;
    padding: 1% 0%;
}

.college-image {
    min-width: 25%;
    width: 35%;
    background-image: url("");
}

.college-name {
    width: 25%;
}

.college-standings {
    width: 20%;
}

.college-wl-stats {
    width: 20%;
}

.college-image, .college-name, .college-standings, .college-wl-stats {
    height: 150px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 1%;
}