.competition-form-class {
    background-color: #333;
    width: 100%;
    height: auto;
    overflow: auto;
    color: white;
}

.competition-form-container {
    padding: 0 15%;
    display: block;
    flex-direction: row;
    flex-basis: 100%;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    float: left;
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    padding: 0 5%;
    padding-top: 2.5%;
    font-weight: bold;
}

.subforms-header {
    font-weight: bold;
    font-size: 1.25em;
    float: left;
}

.subforms-tab-container {
    display: flex;
    justify-content: space-around;
}

.subform-tabs {
    color: white;
    border: 1px double white;
}

div.subform-tabs button {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.subform-tabs button:hover {
    background-color: gray;
}

/* form body section */

.form-body {
    display: block;
    flex-direction: row;
    flex-basis: 100%;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    float: left;
}

.section {
    display: block;
    flex-direction: row;
    flex-basis: 100%;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    float: left;
    padding: 1% 2%;
    /* border: 1px solid white; */
}

.section-half {
    display: block;
    flex-direction: row;
    flex-basis: 100%;
    width: 50%;
    height: auto;
    justify-content: space-evenly;
    float: left;
}

.title-container {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    float: left;
    font-weight: normal;
    font-size: 1.75em;
    color: white;
}

textarea {
    width: 100%;
    height: 100px;
    color: black;
    width: 100%;
    border-radius: 5px;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.competition-order {
    width: 100%;
    height: auto;
}

.order-container {
    width: auto;
    float: left;
    padding-right: 20px;
}

.drop-down {
    overflow-y: scroll;
}

div.section ul.dropdown-menu {
    max-height: 250px;
    overflow-y: scroll;
}

div.section li {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.section a {
    color: black;
}

.filter-container {
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-evenly;
    float: left;
    padding: 5px 5px;
    float: left;
    padding-right: 25px;
    /* border: 1px solid white; */
}

.filter-title {
    width: auto;
    display: flex;
    align-items: left;
    justify-content: left;
    float: left;
    font-weight: normal;
    font-size: 1.25em;
    color: white;
    padding-right: 10px;
}

.list-section {
    display: flex;
    flex-direction: row;
}

.list-container {
    height: auto;
    overflow: hidden;
}

div.section input[type=number], select {
    color: black;
    width: auto;
    border-radius: 5px;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

div.section input[type=text], select {
    color: black;
    width: 100%;
    border-radius: 5px;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

div.section input[type=radio], select {
    color: black;
    width: auto;
    float: left;
    padding-left: 20px;
}

div.section input[type=submit] {
    width: 33.33%;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.team-title-container {
    width: 45%;
    display: flex;
    align-items: left;
    justify-content: left;
    float: left;
    font-weight: normal;
    font-size: 1.5em;
    color: white;
    margin-right: 10%;
}

.participant-title-container {
    width: 45%;
    display: flex;
    align-items: left;
    justify-content: left;
    float: left;
    font-weight: normal;
    font-size: 1.5em;
    color: white;
}

div.team-list-container {
    margin-right: 10%;
}

div.participants-list-container, div.team-list-container {
    width: 45%;
    border: 2px ridge green;
    padding: 2.5px 5px;
    min-height: 200px;
    max-height: 300px;
    float: left;
    overflow-y: scroll;
}

.team-info-container {
    display: block;
    flex-direction: row;
    flex-basis: 100%;
    width: 100%;
    height: auto;
    border: 1px solid white;
    margin: 5px 0;
}

.participant-info-container {
    display: block;
    flex-direction: row;
    flex-basis: 100%;
    width: 100%;
    height: auto;
    border: 1px solid white;
    margin: 5px 0;
}
/* 
.team-list-display {
    display: block;
    flex-direction: row;
    flex-basis: 100%;
    width: 50%;
    height: auto;
    justify-content: space-evenly;
    float: left;
} */