input, label, textarea {
    float: left;
}

.contact-block {
    background: linear-gradient(lightslategray,lightgray);
    height: auto;
}

.contact {
    display: block;
    height: auto;
    width: 900px;
    margin: 0 auto;
    background-color: #333;
    color: white;
    font-family: 'Forza Medium';
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    border-style: groove;
    border-color: lightgray;
    overflow: auto;
}

.contactSubmit {
    margin-top: 10px;
    color: #73A744;
    background-color: white;
}

.contactSubmit:hover {
    margin-top: 10px;
    background-color: lightblue;
}