label {
    width: 200px;
    clear: left;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}

input, label, textarea {
    float: left;
}

h3 {
    font-weight: bold;
    color: orange;
}

.contact-form {
    margin-top: -5px;
    background-color: gray;
    overflow: auto;
}