/* .navbar-brand {
    /* position: relative; */
    /* background: url(./main_logo.png);
    padding-top: 5px;
    width: 100%;
    height: 100%;
    left: 15px;
    background-size: contain;
} */ 

@media(max-width: 500px){
    .navbar-collapse.collapse{
        display:none;
    }
}

#brand-image {
    height: 50px;
    width: 150px;
    float: left;
}

.navbar-brand {
    margin: auto;
    padding-top: 2px;
    background-size: contain;
}

/* This changes the color of dropdown items. Need to find EGF font!
#basic-nav-dropdown {
    font-family: "Forza";
    color: white;
}

a[role=button]{
    color:white;
}
 */
